@import "variables";

.btn {
	text-transform: uppercase;
}

.btn-primary {
	background: $blue;
}

.btn-objectives {
	background: $green;
	color: $white;
	&:hover {
		background: $green;
		color: $white;
	}
}

.navbar-default .navbar-toggle {
	border: none;
	font-size: 40px;
	&:hover {
		background: $white;
		color: $blue;
	}
	&:active {
		background: $white;
		color: $green;
	}
	&:visited {
		background: $white;
		color: $green;
	}
	&:focus {
		background: $white;
		color: $green;
	}		
}

#application-icons {
    a {
        color: $green;
        &:hover{
            text-decoration: none !important;
        }
    }
    .thumbnail {
        text-align: center;
        padding: 20px 0;
        &:hover {
            background: $lightgrey;
        }
        i {
            font-size: 2em;
        }
        p {
            font-size: 1em;
            margin-top: 10px;
            text-transform: uppercase;
        }
    }
}