@import "variables";

#location-map-canvas {
	height: 300px;
	width: 100%;
}

footer {
	margin-top: 30px;
	margin-bottom: 20px;
	.logos {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
}