@import "variables";

.navbar {
	background: $white;
	border-bottom: none;
	margin-bottom: 0px;
}


.navbar-default .navbar-nav a {
	text-transform: uppercase;
	&:hover {
		color: $green;		
		text-decoration: underline;
	}
	@media (max-width:767px) {
		margin-bottom: 5px;
		&:hover {
			background: $white;
			color: $green;		
			text-decoration: none;
		}
	}	
}

.navbar-default .navbar-nav>.active>a {
	background: transparent;
	color: $green;
	font-weight: 700;
	&:hover {
		background: transparent;
		text-decoration: none;
	}
}


.navbar li {
	@media (max-width:767px) {
		&:hover {
			background: $white;
		}
	}
}

.navbar-collapse {
	max-height:none; //prevent scrolling in mobile nav
}

.navbar-toggle {
	color: $fourblack;
	float: right;
	margin-right: 15px;
	margin-left: 0px;
	margin-top: 0px;
}

.navbar-brand {
	float: left;
	margin-right: 15px;
	img {
		width: 150px;
		//height: 50px;
	}
}

.navbar-nav {
	@include respond-to(desktop) {
		margin-top: 5px !important;
	}
	@include respond-to(tablet-landscape-desktop) {
		margin-top: 60px;
	}
	
	li {
		@include respond-to(tablet-portrait) {
			font-size: 1.5em;
			text-align: center;
		}
	}
}	

/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(153,204,51,0.9);
}

/* Overlay closing cross */
.overlay .overlay-close {
	width: 80px;
	height: 80px;
	position: absolute;
	right: 20px;
	top: 20px;
	overflow: hidden;
	border: none;
	background: url(../images/cross.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
}

/* Menu style */
.overlay nav {
	text-align: center;
	position: relative;
	top: 10%;
	//height: 60%;
	//-webkit-transform: translateY(-50%);
	//transform: translateY(-50%);
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	//height: 20%;
	height: calc(100% / 5);
	min-height: 54px;
}

.overlay ul li a {
	font-size: 1.5em;
	font-weight: 700;
	letter-spacing: 1px;
	display: block;
	color: #fff;
	text-transform: uppercase;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #f0f0f0;
}

.container.overlay-open {
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
}

.overlay-contentscale {
	visibility: hidden;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
	transition: transform 0.5s, visibility 0s 0.5s;
}

.overlay-contentscale.open {
	visibility: visible;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		//height: 70%;
		font-size: 1px;
	}
	.overlay ul li {
		//min-height: 34px;
	}
}