@import "variables";

.downloads {
	.thumbnail {
		padding: 10px 10px 40px 10px;
		@include respond-to(tablet-landscape-desktop) {
			border: 1px solid $grey;
		}
		@include respond-to(desktop) {
			border: 1px solid $grey;
		}
		@include respond-to(tablet-portrait) {
			border: none;
		}
		&.with-document {
			background: $lightgrey;
			@include respond-to(tablet-landscape-desktop) {
				border: 1px solid $green;
			}
			@include respond-to(desktop) {
				border: 1px solid $green;
			}
			@include respond-to(tablet-portrait) {
				border: none;
			}
			
		}
	}
	
	
	.panel-footer{
		@include respond-to(tablet-portrait) {
			display: none;
		}
	}
	
	.with-document {
		.panel-footer{
			@include respond-to(tablet-portrait) {
				display: block;
			}
		}
	}
}

